
body {
    background-color: black;
}

h2 {
    border: 0;
    height: 2px;
    color: white;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    color: grey;
    text-align: center;    
}

.vis-container-full {
    padding:0.01em 16px;
    color:#000!important;
    background-color:#fff!important
}

.vis-container-full:after, .vis-container-full:before {
    content:"";
    display:table;
    clear:both
}


.vis-container-left {
    width: 50%;
    float: left;
    padding: 8px; 
    padding-bottom: 30px; 
}

.vis-container-right {
    width: 50%;
    float: right;
    padding: 8px; 
    padding-bottom: 30px; 
}


.para-1 {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    text-align: justify;
    padding: 0 10em;
    font-family: sans-serif;
}

.para-left {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    text-align: justify;
    padding: 0 10em;
    margin-right: 50%;
    font-family: sans-serif;
}

.para-right {
    font-size: 16px;
    line-height: 1.5;
    color: white;
    text-align: justify;
    padding: 0 10em;
    margin-left: 50%;
    font-family: sans-serif;
}


.title {
    font-size: 30px;
    color: black;
    text-align: center;
    padding: 1em 0 1em 0;
    background-color: rgba(217, 217, 217, 0.97);
    display: flex;
    justify-content: center;
    align-items: center;
  }

.main-title {
    font-size: 60px;
    color: white;
    text-align: center;
}

.alt-text {
    font-size: 20px;
    color: white;
    text-align: center;
    font-style: italic;
    position: absolute;
    top: 70%; 
    left: -10%;
    transform: translate(10%, 10%); 
    background-color: rgba(0, 0, 0, 0.5); 
}

.cover {
    position: relative;
  }
  
.overlay-text {
    position: absolute;
    top: 70%; 
    left: 30%; 
    transform: translate(-15%, -50%); 
    text-align: center;
    color: white; 
    padding: 20px;
}

.emphasis {
    font-size: 40px;
    color: red;
    text-align: center;
    font-weight: bold;
    font-family: 'Metal Mania';
}

.title-emp {
    font-size: 20px;
    color: black;
    text-align: center;
    padding: 1em 0;
    background-color: rgba(217, 217, 217, 0.97);
    display: flex;
    justify-content: center;
    align-items: center;

}

.title-emp h2 {
    margin: -10px 0 15px 0;
    border: 0;
    height: 20px;
    color: black;
}


.image-container {
    width: 100%;
    height: auto;
    background-image: ("components/cover.jpg");
    background-size: cover;
    background-position: center;
    opacity: 0.7;
}

.text-summary {
    position: absolute;
    bottom: -400%; 
    left:20%;
    right:0%;
    transform: translate(-10%, 60%); 
    text-align: justify;
    color: white; 
    padding: 0 20px;
}

.navbar {
    overflow: hidden;
    background-color: #333; 
}
  
.navbar a {
    float: left;
    display: block;
    color: white; 
    text-align: center;
    padding: 14px 16px; 
    text-decoration: none; 
}
  
.navbar a:hover {
    background-color: #ddd; 
    color: black; 
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}



